html, body {
    height: 99%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    border: 2px solid black;
    min-width: 148px;
    height: 100%;
}
.navigation {
    display: flex;
    flex-direction: column;
}

a {
    margin: 10px;
    font-family: sans-serif;
    font-size: 20px;
}


.bun {

    margin: 12px;

}

.shift {
    
}
